@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import "00-reset.css";
/* Teoretycznie tutaj moglibyśmy zaimportować 01-variables, ale przypadek, gdy na początku strony ładujemy ten plik, jest równie dobra */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: var(--main-font-size);
  overflow: hidden;
}

body {
  color: var(--txt-color);
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Mukta", sans-serif;
  font-family: "Poppins", sans-serif;
  background-image: url("./../assets/background.png");
  background-size: cover;
}

#joinRoomMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-color);
  color: var(--font-color);
  padding: 50px 100px;
  border-radius: 25px;
  box-shadow: 0px 10px 0px 0px var(--dark-main-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.gameTitleMenu {
  text-align: center;
  margin-bottom: 50px;
  font-size: calc(var(--main-font-size) * 3);
}

#joinRoomMenu .settingsLabel {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

#joinRoomMenu .settingsLabel input {
  border-radius: 10px;
  padding: 10px;
}

#joinRoomMenu .settingsDiv {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

#joinRoomMenu .settingsDiv button {
  margin-top: 25px;
  padding: 10px;
  cursor: pointer;
  background-color: var(--button-color);
  color: var(--main-color);
  border-radius: 10px;
  border: none;
  font-weight: bold;
  box-shadow: 0px 6px 0px 0px var(--dark-button-color);
  transform: translateY(-2px);
  transition: 0.05s ease-in;
}

#joinRoomMenu .settingsDiv button:hover {
  transition: 0.05s ease-out;
  transform: translateY(0px);
  box-shadow: 0px 4px 0px 0px var(--dark-button-color);
}

#manageRoomMenu {
  display: none;
  background-color: var(--main-color);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: var(--font-color);
  padding: 100px;

  /* display: block; */
}

#queueInterface {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#usersInRoomSection,
#choosingCharacterSection {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: calc(100vh - 200px - var(--main-font-size) * 3 - 50px);
  border-radius: 25px;
  background-color: var(--dark-main-color);
}

#usersInRoomSection {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#mainQueueSection {
  margin: 100px;
}

#startRoom {
  padding: 25px;
  cursor: pointer;
  background-color: var(--button-color);
  color: var(--main-color);
  border-radius: 25px;
  border: none;
  font-weight: bold;
  box-shadow: 0px 15px 0px 0px var(--dark-button-color);
  transform: translateY(-5px);
  transition: 0.05s ease-in;
  font-size: calc(var(--main-font-size) * 3);
}

#startRoom:hover {
  transition: 0.05s ease-out;
  transform: translateY(0px);
  box-shadow: 0px 10px 0px 0px var(--dark-button-color);
}

#choosingCharacterSection {
  padding: 50px;
}

.subtitleQueueInterface {
  text-align: center;
  font-size: calc(var(--main-font-size) * 2);
}

#usersInRoomList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

#usersInRoomList p {
  font-size: var(--main-font-size);
  border: 2px solid var(--font-color);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.readyPlayer,
.notReadyPlayer {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
}

.readyPlayer {
  background-color: greenyellow;
}

.notReadyPlayer {
  background-color: red;
}

/* ROOT */

#root {
  display: none;
}
