@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import "00-reset.css";
/* Teoretycznie tutaj moglibyśmy zaimportować 01-variables, ale przypadek, gdy na początku strony ładujemy ten plik, jest równie dobra */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: var(--main-font-size);
  overflow: hidden;
}

body {
  color: var(--txt-color);
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Mukta", sans-serif;
  font-family: "Poppins", sans-serif;
}

#joinRoomMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color);
  color: var(--txt-on-bg-color);
  padding: 20px 200px;

  /*  */
  /* display: none; */
}

.gameTitleMenu {
  text-align: center;
  margin-bottom: 20px;
  font-size: calc(var(--main-font-size) * 1.4);
}

#joinRoomMenu .settingsLabel {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-bottom: 5px;
}

#joinRoomMenu .settingsDiv {
  display: flex;
  width: 300px;
  justify-content: center;
}

#joinRoomMenu .settingsDiv button,
#mainQueueSection button {
  margin: 15px 10px 0;
  padding: 10px;
  width: 130px;
  cursor: pointer;
  background-color: var(--bg-color);
  color: var(--txt-on-bg-color);
  border: 1px solid var(--txt-on-bg-color);
  transition: all 0.5s;
}

#joinRoomMenu .settingsDiv button:hover,
#mainQueueSection button:hover {
  color: var(--bg-color);
  background-color: var(--txt-on-bg-color);
}

#manageRoomMenu {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* display: block; */
}

#titleGameContainer {
  margin: 0 auto;
  padding: 30px;
  /* width: 700px; */
  background-color: var(--bg-color);
  color: var(--txt-on-bg-color);
  margin-bottom: 20px;
}

#titleGameContainer .gameTitleMenu {
  margin: 0;
}

#queueInterface {
  display: flex;
  justify-content: center;
}

#queueInterface div {
  margin: 0 10px;
}

#usersInRoomSection,
#choosingCharacterSection {
  width: 400px;
  height: 500px;
  background-color: var(--bg-color);
  color: var(--txt-on-bg-color);
}

#usersInRoomSection {
  padding: 20px;
}

#mainQueueSection {
  padding: 20px;
  width: 430px;
  height: 80px;
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);
  color: var(--txt-on-bg-color);
}

#startRoom {
  margin: 0 !important;
}

#choosingCharacterSection {
  padding: 20px;
}

.subtitleQueueInterface {
  text-align: center;
  font-size: calc(var(--main-font-size) * 1.3);
}
