#gameMenu {
  display: none;
}

#ownCard {
  display: flex;
  background-color: var(--main-color);
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  color: var(--font-color);
  padding: 10px;
  /* aspect-ratio: 1; */
  position: absolute;
  bottom: 0;
}

#gameInfo {
  position: absolute;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#gameInfo > div {
  margin: 25px;
}

#coolDownContainer {
  display: flex;

  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

#users {
  margin-top: 25px;
}

#cardsLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-top: 25px;
}

#coolDown {
  margin-top: 25px;
  display: none;
  width: 90px;
  height: 10px;
  animation: pass 5.1s;
}

@keyframes pass {
  from {
    width: 90px;
    background-color: red;
  }
  to {
    width: 0px;
    background-color: greenyellow;
  }
}

#protectionCooldown {
  margin-top: 25px;
  display: none;
  width: 90px;
  height: 10px;
  animation: passProtection 3.1s;
  background-color: white;
}

@keyframes passProtection {
  from {
    width: 90px;
  }
  to {
    width: 0px;
  }
}

#positionReset {
  transition: 0.5s;
}

#positionReset:hover {
  transition: 0.5s;
  transform: rotate(360deg);
  cursor: pointer;
}
